<template name="matrix">
    <div id="matrixPanel">
        <div id="groupPanel">
            <div id="sourceGroup" class="col-md-3">
                <div class="title">Source</div>
                <canvas id="sourceCanvas"></canvas>
            </div>
            <div id="targetGroup" class="col-md-9">
                <div class="title">Target
                    <div class="right">
                        Choose target depth:
                        <select class="selectpicker" id="changeTargetDepth">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <svg id="targetSvg"></svg>
            </div>
        </div>
        <div id="analysisPanel">
        <div class="title">Analysis Panel

            <div style="float:right">
                <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Select Attributes:</span>
                <div class="btn-group" data-toggle="buttons">
                    <label id="f_bir_age" class="aggrRadio btn btn-default">
                        <input type="radio" value="1" />
                        <span>f_bir_age</span>
                    </label>
                    <label id="l_bir_age" class="aggrRadio btn btn-default">
                        <input type="radio" value="1" />
                        <span>l_bir_age</span>
                    </label>
                    <label id="lastage" class="aggrRadio btn btn-default">
                        <input type="radio" value="1" />
                        <span>lastage</span>
                    </label>
                </div>
            </div>
            </div>
            <svg id="matrixView"></svg>
        </div>
    </div>
</template>
