<template name="matrix">
    <div id="matrixPanel">
        <div id="groupPanel">
            <div id="sourceGroup" class="col-md-12">
                <div class="title">
                    <span class="titleSpan">DETAIL PANEL</span>
                    <span style="float: right; margin-top: 8px; margin-right: 10px; font-size: 75%">More Trees</span>
                    <div style="float: right; margin-top: 13px; width: 200px; padding-left: 8px; padding-right: 8px">
                        <div id="sizeSlider" type="text" class="slider"></div>
                    </div>
                    <span style="float: right; margin-top: 8px; font-size: 75%">Fewer Trees</span>
                    <!--                     <div style="float:right; margin-right:10px">
                        <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Color By:</span>
                        <div class="btn-group" data-toggle="buttons">
                            <label id="colorByInc" class="groupRadio btn btn-default disabled">
                                <input type="radio" value="1" />
                                <span>Inclination</span>
                            </label>
                            <label id="colorByFreq" class="groupRadio btn btn-default disabled">
                                <input type="radio" value="1" />
                                <span>Frequency</span>
                            </label>
                            <label id="colorByVol" class="groupRadio btn btn-default disabled">
                                <input type="radio" value="1" />
                                <span>Population</span>
                            </label>
                        </div>
                    </div> -->
                </div>
                <div id="detailPanel" class="col-md-12">
                    <svg id="treemapSvg"></svg>
                </div>
            </div>
        </div>
        <div id="analysisPanel">
            <div class="title">
                <span class="titleSpan">ANALYSIS PANEL</span>
                <!--                 <div style="float:right">
                    <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Select Attributes:</span>
                    <div class="btn-group" data-toggle="buttons">
                        <label id="f_mar_age" class="aggrRadio btn btn-default active">
                            <input type="checkbox" value="1" />
                            <span>f_mar_age</span>
                        </label>
                        <label id="f_bir_age" class="aggrRadio btn btn-default active">
                            <input type="checkbox" value="1" />
                            <span>f_bir_age</span>
                        </label>
                        <label id="l_bir_age" class="aggrRadio btn btn-default active">
                            <input type="checkbox" value="1" />
                            <span>l_bir_age</span>
                        </label>
                        <label id="lastage" class="aggrRadio btn btn-default active">
                            <input type="checkbox" value="1" />
                            <span>lastage</span>
                        </label>
                        <label id="sonCountFix" class="aggrRadio btn btn-default active">
                            <input type="checkbox" value="1" />
                            <span>sonCount</span>
                        </label>
                        <label id="POSITION" class="aggrRadio btn btn-default active">
                            <input type="checkbox" value="1" />
                            <span>position</span>
                        </label>
                    </div>
                </div> -->
                <div style="float:right; margin-right: 10px; margin-top:5px">
                    <label id="showhideME" class="groupRadio btn btn-default btn-xs">
                        <span>MLM Log</span>
                    </label>
                </div>
                <div style="float:right; margin-right: 10px; margin-top:5px">
                    <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Marginal Effects:</span>
                    <label id="showhideME" class="groupRadio btn btn-default btn-xs">
                        <span>Hide / Show</span>
                    </label>
                </div>
            </div>
            <div id="matrixDiv">
                <svg id="matrixView"></svg>
            </div>
        </div>
    </div>
</template>
