#matrixPanel {
    height: 100%;
    width: 100%;
}

#matrixView {
    width: 100%;
}

#matrixDiv{
    width:100%;
    overflow-y: hidden;
}

.patternTree {
    cursor: pointer;
}

#groupPanel {
    width: 100%;
    height: 40%;
}

.title {
    width: 100%;
    height: 35px;
    background-color: #eee;
    font-weight: bold;
}

#sourceGroup {
    height: 100%;
    padding: 0px;
}

#analysisPanel {
    width: 100%;
    border-top: 1px solid #ccc;
    height: 60%;
}

.sRect{
    stroke:#888;
    stroke-width:0.1;
}
.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #000;
    stroke: #000;
    stroke-width: 0px;
}

.link {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}

.matrixCell {
    stroke: white;
    stroke-width: 2;
}

.right {
    float: right;
}

.background {
    fill: white;
    stroke-width: 2.5px;
}

.highlightRect {
    stroke: #333;
    stroke-width: 2px;
}

.selectedRect {
    stroke: red;
    stroke-width: 2px;
}

.xLabel {
    font-size: 18px
}

.lines {
    fill: none;
    stroke-width: 1.5px;
}

.axis text {
    stroke: black;
    stroke-width: 0.5px;
    font-size: 12px;
}

.shadowLine {
    stroke-width: 0.5px;
}

.marginDots{
    stroke:#333;
    stroke-width:1px;
    fill:#333;
}

#structureDiv{
    overflow-y: auto;
    overflow-x: hidden;
}

.selected{
    stroke-width:1px;
    stroke:#666;
}

.confArea{
    opacity: .3;
}

.probTitle{
    stroke: black;
    stroke-width: 0.5px;
}

.legendRect{
    fill:none;
}