#matrixPanel {
    height: 100%;
    width: 100%;
}

#matrixView {
    height: 100%;
    width: 100%;
}

.patternTree {
    cursor: pointer;
}

#groupPanel {
    width: 100%;
    height: 40%;
}

.title {
    width: 100%;
    height: 35px;
    background-color: #eee;
    font-weight: bold;
}

#sourceGroup {
    height: 100%;
    padding: 0px;
}

#analysisPanel {
    width: 100%;
    border-top: 1px solid #ccc;
    height: 60%;
}

.sRect{
    stroke:#e2e2e2;
    stroke-width:0.5;
}
.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.matrixCell {
    stroke: white;
    stroke-width: 2;
}

.right {
    float: right;
}

.background {
    fill: white;
    stroke-width: 2.5px;
}

.highlightRect {
    stroke: #333;
    stroke-width: 2px;
}

.selectedRect {
    stroke: red;
    stroke-width: 2px;
}

.xLabel {
    font-size: 18px
}

.lines {
    fill: none;
    stroke-width: 1.5px;
}

.axis text {
    stroke: black;
    stroke-width: 0.5px;
    font-size: 12px;
}

.shadowLine {
    stroke-width: 0.5px;
}
