#matrixPanel {
    height: 100%;
    border: 1px solid #ccc;
}

#matrixView {
    height: 100%;
    width: 100%;
}

.patternTree{
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle{
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.matrixCell {
    stroke: white;
    stroke-width: 2;
}

.background{
    opacity: 0.5;
}

.highlightRect{
    stroke:#333;
    stroke-width:2px;
}

.selectedRect{
    stroke:red;
    stroke-width:2px;
}

.xLabel{
    font-size: 18px
}