.node rect {
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.sankeysankeyLink:hover {
  opacity: 1;
}

.sankeysankeyLink{
  fill:#aaa;
  stroke-width:0;
  opacity: .3;
}

.featureRect{
  fill:none;
  stroke:#ccc;
  stroke-width:1px;
}

.highlightlink{
  /*fill: #000;*/
  opacity: .5;
}
.highlightlink:hover{
  opacity: 0.8;
}


.flowOption{
    height: 5%;
    border-bottom: 1px solid #ccc;
}

.ErrBarCircle{
    cursor: pointer;
    stroke-width: .8px;
    stroke:#666;
    /*fill:#666;*/
}
.linkings,
.ErrBarLine{
    fill: none;
    stroke-width: 1px;
    stroke:#666;
}
