.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  opacity: .2;
}

.link:hover {
  opacity: .5;
}

.featureRect{
  fill:none;
  stroke:#ccc;
  stroke-width:1px;
}

.highlightlink{
  /*fill: #000;*/
  opacity: .5;
}
.highlightlink:hover{
  opacity: 0.8;
}
.node{
  stroke:#888;
  stroke-width:2px;
}

.flowOption{
    height: 5%;
    border-bottom: 1px solid #ccc;
}

.ErrBarCircle{
    cursor: pointer;
    stroke-width: .8px;
    stroke:#666;
    /*fill:#666;*/
}
.linkings,
.ErrBarLine{
    fill: none;
    stroke-width: 1px;
    stroke:#666;
}
text{
    font-size: 10px
}