<template name='lineage'>
    <div class="row" id='testContainer'>
        <div class="col-md-8 fullheight" style="margin-left:10px">
            <div class="panel panel-default" id="mainPanel">
                <div class="panel-body fullheight">
                    <div class="matrixOption col-md-12">
                    </div>
                    <div id="flowPanel">
                        <svg id="flowView"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
