<template name="option">
    <div class="attrListDiv">
        {{>multipleSelect options=selectOptions settings=selectSettings }}
        <ul class="list-group" style="margin-top: 10px; margin-bottom: 10px">
            {{#each attributeList}}
            <div class="list-group-item nopadding attrContainer">
                <p class="attrTitle">{{this}}</p>
                {{>optionItem itemAttr=this}}
            </div>
            {{/each}}
        </ul>
        <div class="btn-group" id="btn-group-attr" role="group">
            <button type="button" id="filterBtn" class="btn btn-default btn-attr">Create Filter</button>
            <button type="button" id="clusterBtn" class="btn btn-default btn-attr">Add Cluster</button>
            <button type="button" id="clearBtn" class="btn btn-default btn-attr">Clear All</button>
        </div>
    </div>
    <div class="attrSetDiv">
        <strong>Filter:</strong> 
        <li class="list-group-item">
            {{filter}}
        </li>
        <strong>Clusters:</strong> 
        <div id="sortableList">
        </div>
    </div>
</template>
<template name="optionItem">
    <svg id={{itemAttr}} itemAttr={{itemAttr}} class="attrSvg">
    </svg>
</template>
