<template name="option">
    <div id="structureContainer">
        <div class="title">Structure Flow
            <div style="float:right; margin-right:10px">
                <label id="runGrouping" class="groupRadio btn btn-default">
                    <i class="fa fa-play fa-fw" title="Run!"></i>
                    <span>Regression</span>
                </label>
            </div>
            <div style="float:right; margin-right:10px">
                <label id="clear_moving" class="groupRadio btn btn-default">
                    <i class="fa fa-refresh fa-fw" title="Run!"></i>
                    <span>Reset All</span>
                </label>
            </div>
            <div style="float:right; margin-right:10px">
                <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Scale:</span>
                <div class="btn-group" data-toggle="buttons">
                    <label id="scaleByUni" class="aggrRadio btn btn-default active">
                        <input type="radio" value="1" />
                        <i class="fa fa-bars fa-fw" title="Number of posts"></i>
                        <span>Percentage</span>
                    </label>
                    <label id="scaleByDefault" class="aggrRadio btn btn-default">
                        <input type="radio" value="1" />
                        <i class="fa fa-hashtag fa-fw" title="Default"></i>
                        <span>Absolute</span>
                    </label>
                </div>
            </div>
            <div style="float:right; margin-right:10px">
                <label id="scaleByUni" class="aggrRadio btn btn-default" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-cog fa-fw" title="More Options"></i>
                    <span>More Options</span>
                </label>
<!--                 <button type="button" id="toolForTree" class="btn btn-default collapsed" aria-label="Left Align" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true">More Options</span>
                </button>
 -->            </div>
            <div class="collapse col-md-12" id="collapseExample" style="height:40px; background-color:#eee" aria-expanded="false">
                <div style="float:left; margin-right:10px; margin-top:5px">
                    <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Sort By:</span>
                    <div class="btn-group" data-toggle="buttons">
                        <label id="sortByInc" class="groupRadio btn btn-default active">
                            <input type="radio" value="1" />
                            <span>Inclination</span>
                        </label>
                        <label id="sortByFreq" class="groupRadio btn btn-default">
                            <input type="radio" value="1" />
                            <span>Frequency</span>
                        </label>
                        <label id="sortByPop" class="groupRadio btn btn-default">
                            <input type="radio" value="1" />
                            <span>Population</span>
                        </label>
                    </div>
                </div>
                <div style="float:left; margin-right:10px; margin-top:5px">
                    <span class="label matrixIcon" style="color: #333;margin-top: 8px;margin-left: 0px;margin-right: 0px;">Split / Merge:</span>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="mergebtn">Merge</button>
                        <button type="button" class="btn btn-default" id="splitAttrBtn">Split by Attri</button>
                        <button type="button" class="btn btn-default" id="splitContBtn">Split by Conti</button>
                    </div>
                </div>
            </div>
            <svg id="structureSvg"></svg>
        </div>
    </div>
</template>
<template name="optionItem">
    <div class="list-group-item nopadding attrContainer">
        <p class="attrTitle col-md-6">
            {{itemAttr}}
            <label id="{{itemAttr}}clear" class="attrOption btn btn-default">
                <i class="fa fa-refresh fa-fw" title="Clear Markers"></i>
            </label>
        </p>
        <svg id={{itemAttr}} itemAttr={{itemAttr}} class="attrSvg"></svg>
    </div>
</template>
<!-- <template name="structureItem">
    <div class="list-group-item nopadding structureContainer">
        <p class="depthTitle col-md-6">
            Depth: {{depth}}
        </p>
        <div class="structureDiv">
            <svg id="depth{{depth}}" depth={{depth}} class="structureSvg"></svg>
        </div>
    </div>
</template> -->
<template name="clusterWindow"></template>
